.header {
    border-bottom: 1px solid #f4f4f4;
    padding-top: 17px;
    padding-bottom: 15px;
}

.main-bar {
    position: relative;
    display: flex;
    align-items: center;

    @media (max-width:1199px) {
        justify-content: space-between;
    }

    @media (max-width:991px) {
        flex-direction: column;
    }

    .lang {
        position: absolute;
        left: 0;
        top: -3px;
        color: #b2b2b2;
        font-size: 13px;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            color: $seccolor;
        }

        @media (max-width:991px) {
            display: none;
        }
    }

    .logo {

        i {
            display: none;
            font-size: 20px;

            @media (max-width:767px) {
                display: flex;
                color: $thirdcolor;
            }

        }

        @media (max-width:767px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }
}

html[dir="ltr"] .main-bar {
    .lang {
        right: 0;
        left: auto;
    }
}

.store {
    position: relative;

    .cart-icon {
        background-color: $seccolor;
        padding: 5px;
        color: #fff;
        position: absolute;
        border-radius: 5px;
        left: 50%;
        transform: translateX(-50%);
        top: -35px;
        visibility: hidden;
        opacity: 0;
        @include transition(all 0.3s ease-in-out);

        &:after {
            content: "";
            width: 0;
            height: 0;
            display: block;
            border-width: 6px;
            border-color: $seccolor transparent transparent;
            border-style: solid;
            bottom: -12px;
            position: absolute;
            right: 50%;
            transform: translateX(50%);
        }
    }

    &:hover {
        .cart-icon {
            visibility: visible;
            opacity: 1;
        }
    }
}